// Placeholders
%background-holder {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

%float-clear {
  float: left;
  width: 100%;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%text-indent {
  text-indent: -99em;
}

%hide {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
